<h1>Author: {{author.name}}</h1>
<p>{{author.date_of_birth_formatted}} - {{author.date_of_death_formatted}}</p>
<div style="margin-left:20px;margin-top:20px">
  <h4>Books</h4>
  <dl>{{#each author_books as |book|}}
    <dt> <a href="{{book.url}}">{{book.title}}</a></dt>
    <dd>{{book.summary}}</dd>
    {{/each}}
  </dl>
</div>
<hr>
<p><a href="{{author.url}}/delete">Delete author</a> </p>
<p><a href="{{author.url}}/update">Update author</a> </p>