<h1>{{title}}</h1>
<form method="POST" action=''>
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input id="first_name" type="text" placeholder="First name (Christian) last" name="first_name" required="true"
      value={{#if author}}{{author.first_name}}{{else}}""{{/if}} class="form-control">
    <label for="family_name">Family Name:</label>
    <input id="family_name" type="text" placeholder="Family name (surname)" name="family_name" required="true"
      value={{#if author}}{{author.family_name}}{{else}}""{{/if}} class="form-control">
  </div>
  <div class="form-group">
    <label for="date_of_birth">Date of birth:</label>
    <input id="date_of_birth" type="date" name="date_of_birth"
      value={{#if author}}{{author.date_of_birth_form}}{{else}}""{{/if}} class="form-control">
  </div>
  <div class="form-group">
    <label for="date_of_death">Date of death:</label>
    <input id="date_of_death" type="date" name="date_of_death"
      value={{#if author}}{{author.date_of_death_form}}{{else}}""{{/if}} class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{#if errors }}
<ul>
  {{#each errors as |error|}}
  <li>{{error.msg}}</li>
  {{/each}}
</ul>
{{/if}}