<h1>Title: {{book.title}}</h1>
<p><strong>Author:</strong> <a href="{{book.author.url}}">{{book.author.name}}</a></p>
<p><strong>Summary:</strong> {{book.summary}}</p>
<p><strong>ISBN:</strong> {{book.isbn}}</p>
<p><strong>Genre:</strong>&nbsp;{{#each book.genre as |val|}}<a href="{{val.url}}">{{val.name}}</a>
  {{#if (isLt index (add book.genre.length -1))}}
  , {{/if}}
  {{/each}}
</p>
<div style="margin-left:20px;margin-top:20px">
  <h4>Copies</h4>{{#each book_instances as |val|}}
  <hr>
  {{#if (isEq val.status 'Available')}}
  <p class="text-success">{{val.status}}</p>
  {{else if (isEq val.status 'Maintenance')}}
  <p class="text-danger">{{val.status}}</p>
  {{else}}
  <p class="text-warning">{{val.status}} </p>
  <p><strong>Imprint:</strong> {{val.imprint}}</p>
  {{/if}}
  {{#unless (isEq val.status 'Available')}}
  <p><strong>Due back:</strong> {{val.due_back_formatted}}</p>
  <p><strong>Id:</strong>&nbsp;<a href="{{val.url}}">{{val._id}}</a></p>
  {{/unless}}

  {{/each}}
</div>
<hr>
<p><a href="{{book.url}}/delete">Delete book</a> </p>
<p><a href="{{book.url}}/update">Update book</a> </p>