{{#extend "layout"}}
  {{#content "content"}}
    <h1>{{title}}: {{author.name}}</h1>
    <p>{{author.lifespan}}</p>{{#if author_books.length}}
      <p><strong>Delete the following books before attempting to delete this author.</strong></p>
      <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>
        <dl></dl>{{#each author_books as |book|}}
          <dt> <a href="{{book.url}}">{{book.title}}</a></dt>
          <dd>{{book.summary}}</dd>
        {{/each}}
      </div>
    {{else}}
      <p>Do you really want to delete this Author?</p>
      <form method="POST" action="{{''}}">
        <div class="form-group"><input id="authorid" type="hidden" name="authorid" required="true" value="{{author._id}}" class="form-control"></div><button type="submit" class="btn btn-primary">Delete</button>
      </form>
    {{/if}}
  {{/content}}{{/extend}}